{% load i18n %}
{% load static from staticfiles %}

<svg style="display:none;">
    <symbol id="icecream" preserveAspectRatio="xMinYMin meet" viewBox="0 0 800 800">
        <path fill="#1D1D1B" d="M91.2,135.9v524.7h700l0-524.7H91.2z M476.4,181.3L476.4,181.3c-41.6,15.9-81.6,54.3-113.9,125
	c-9.3,20.4-27,60.1-35,77.9C262.7,526.4,226.4,557,128.6,557V172.2h346.2l0,0c2.3,0,4.2,1.6,4.6,3.8
	C479.8,178.3,478.5,180.5,476.4,181.3z M753.9,239.6l0,384.7H407.7c-2.2,0-4.2-1.6-4.6-3.8c-0.4-2.2,0.8-4.4,2.9-5.2l0,0
	c41.6-15.9,81.6-54.2,113.9-125c9.3-20.4,27-60.1,35-77.9C619.8,270.2,656.1,239.6,753.9,239.6z"/>
    </symbol>
</svg>


<div id="header-logo">
    <a href="/admin/">
        <svg class="graphics icecream">
            <use xlink:href="#icecream"/>
        </svg>
        <span>POP-Admin</span></a>
</div>

{% block language_chooser %}
<div id="language-chooser" style="display: inline;">
    <div class="language-chooser-inner" style="display: inline; line-height: 48px; padding-left: 24px;">
        <span class="label">{% trans 'Backend Sprache' %}:</span>
        {% for lang in LANGUAGES %}
        <a href="/{{ lang.0 }}{{ request.get_full_path|slice:'3:' }}" class="button {% ifequal lang.0 request.LANGUAGE_CODE %} active{% endifequal %}">
            {% ifequal lang.0 request.LANGUAGE_CODE %}{{ lang.1 }}{% else %}{{ lang.1 }}{% endifequal %}
        </a>

        {% endfor %}
    </div>
</div>
{% endblock %}

<h1>POP-Admin</h1>


<script>
    var slick_admin_mode = 'default';
</script>
<!--
<script src="{% static 'django_slick_admin/js/base-admin.js' %}"></script>-->
